bin
.cache
include/MiniJava.def
include/MiniJava-parenthesize.str
include/MiniJava-Permissive.def
include/MiniJava.generated.pp.af
include/MiniJava.packed.esv
include/MiniJava.pp.af
include/MiniJava.rtg
include/MiniJava.str
include/MiniJava.tbl
include/minijava.rtree
include/minijava.ctree
include/minijava.ctree.dep
include/minijava.jar
include/minijava-java.jar
editor/java/trans
editor/MiniJava-*.generated.*
syntax/MiniJava*.generated.esv
syntax/MiniJava.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
