MiniC-hdantas/bin
MiniC-hdantas/icons
MiniC-hdantas/include
MiniC-hdantas/lib*
MiniC-hdantas/META-INF
MiniC-hdantas/editor/java
*.sdf
.*
*.properties
*generated*
*.xml
*.pp
*.cache
*~
*.bak
*.aterm
*pp*