bin
.cache
include/MiniC.def
include/MiniC-parenthesize.str
include/MiniC-Permissive.def
include/MiniC.generated.pp.af
include/MiniC.packed.esv
include/MiniC.pp.af
include/MiniC.rtg
include/MiniC.str
include/MiniC.tbl
include/minic.rtree
include/minic.ctree
include/minic.ctree.dep
include/minic.jar
include/minic-java.jar
editor/java/trans
editor/MiniC-*.generated.*
syntax/MiniC*.generated.esv
syntax/MiniC.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/.cache
/include
